*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
}

body{
    background: #FFFFFF;
    font-size: 81.25%;
    margin: 0;
}

/* header ul {
    margin-left: 10px;
    border-bottom: 1px solid #dadce0;
}

header ul li{
    display: inline-block;
    margin: 3px 0 3px 10px;
    padding: 5px;
}

header ul li:hover{
    background-color: #ECECEC;
    border-radius: 15px;
    cursor: default;
    padding: 5px;
    transition: ease-in .2s #ECECEC;
}

header ul li img{
    padding-right: 10px;
}

main{
    min-height: 80vh;
} */

.menuRight{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 11px;
    margin-right: 10px;
}

.menu ul{
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu ul li{
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

.menu ul li:hover{
    text-decoration: underline;
}

.menu ul li a{
    text-decoration: none;
    color: #000000;
    letter-spacing: 0.5px;
}

.menu2{
    display: flex;
    align-items: center;
    overflow-y: hidden;
}

.menu2 > img{
    height: 35px;
    padding: 7px;
    margin-left: 5px;
/*     color de icono: #5f6368; */
}

.menu2 > img:hover{
    background-color: #ECECEC;
    cursor: pointer;    
    border-radius: 35px;
}

.menu2 button{
    background: #1A73E8;
    color: #FFFFFF;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-left: 20px;
    margin-right: 8px;
    padding: 9px 23px;
    border-radius: 4px;
    min-width: 96px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
}

.menu2 button:hover{
    box-shadow: rgba(61, 119, 206, 0.623) 0 1px 3px;
    background: #1A73E8;
    opacity: 95%;
}

.submenu-item img{
    height: 40px;
}

.submenu-item p{
    margin-top: 10px;
    font-size: 15px;
    color: #444444;
}

.submenu-item{
    border-radius: 6px;
    margin: 2px 4px;
    padding: 5px 12px;
    width: 90px;
    box-sizing: border-box;
    cursor: pointer;
}

.submenu-item:hover{
    background-color: rgb(218, 232, 248);
}

.div-menu{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    position: absolute;
    right: 0;
    top: 0;
    margin: 65px 15px;
    width: 315px;
    height: 440px;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 20px;
    overflow-y: scroll;
    border: 1px solid #BBBBBB;
    text-align: center;
    box-shadow: rgba(20, 20, 20, 0.623) 0 1px 5px;
/*     display: none; */
}

.div-menu::-webkit-scrollbar{
    width: 16px;
    margin: 10px;
    border-radius: 5px;
}

.div-menu::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0 rgba(0,0,0, 0.05), inset 1px 1px 0 rgba(0,0,0, 0.05);
    background: #DAdCE0;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 10px;
    box-shadow: none;
}

.div-menu::-webkit-scrollbar-track{
    margin: 4px;
    padding: 4px;
}

.menu3{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin: 10px 5px 30px 5px;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner img{
    max-height: 92px;
    position: relative;
    margin-top: 16px;
}

.form{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cont1{
    margin: 0 auto;
    width: calc(632px + 8px);
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative
}

.cont2{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #DFE1E5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 650px;
    max-width: 584px;
}

.cont2:hover{
    box-shadow: rgba(148, 150, 153, 0.623) 0 1px 6px;
}

.cont3{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.cont4{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.cont5{
    margin: auto;
}

.span1{
    height: 20px;
    line-height: 20px;
    width: 20px;
    margin-top: 3px;
    color: #9AA0A6;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
}

.cont6{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.cont7{
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

.input-form{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

.cont8{
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}

.cont9{
    padding-right: 4px;
    background: transparent;
    align-items: center;
    flex: 1 0 auto;
    flex-direction: row;
    display: flex;
    cursor: pointer;
}

.cont10{
    background: transparent;
    border: 0;
    align-items: center;
    flex: 1 0 auto;
    cursor: pointer;
    display: none; /*Ver como activar y desactivar la X*/
    height: 100%;
    line-height: 44px;
    outline: none;
    padding: 0 12px;
}

.span2{
    height: 100%;
    color: #70757a;
    vertical-align: middle;
    outline: none;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.cont11{
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 40px;
    line-height: 44px;
}

.cont11 button{
    background: none;
    border: none;
    cursor: pointer;
}

.search{
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.buttons{
    height: 70px;
    padding-top: 18px;
    display: flex;
    justify-content: center;
}

.btn-submit{
    background-color: #F8F9FA;
    border: 1px solid #F8F9FA;
    border-radius: 4px;
    color: #3C4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn-submit:hover{
    box-shadow: rgba(148, 150, 153, 0.623) 0 1px 4px;
    padding: 0 16px;
    height: 36px;
}

.language{
    display: flex;
    justify-content: center;
}

.language a{
    text-decoration: none;
}

.language a:hover{
    text-decoration: underline;
}

#resultado{
    display: flex;
    flex-direction: column;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F2F2F2;
}

.div1, .div2{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757A;
}

.listaUno, .listaDos, ul{
    list-style: none;
}

.listaUno, .listaDos, ul li{
    display: inline-block;
    padding-left: 20px;
}

.listaUno, .listaDos, ul li a{
    text-decoration: none;
    color: #70757A;
}

.listaUno a:hover{
    text-decoration: underline;
}

.listaDos a:hover{
    text-decoration: underline;
}

.div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 20px;
}

  /* MODAL
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #FFFFFF;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}
  
.modal.is-visible {
    visibility: visible;
    opacity: 1;
}
    
.modal-dialog > * {
    padding: 1rem;
}
    
.modal-header {
    display: flex;
    justify-content: flex-end;
}
  
.modal-header .close-modal {
    font-size: 1rem;
    color: #70757A;
    font-weight: 600;
    height: 48px;
    opacity: .6;
}

.modal-content{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    height: 60vh;
}

.modal-content p{
    font-size: 35px;
    color: #70757A;
    height: 48px;
}

[data-animation] .modal-dialog {
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
  
[data-animation].is-visible .modal-dialog {
    opacity: 1;
    transition-delay: 0.2s;
}
  
[data-animation="slideInOutDown"] .modal-dialog {
    transform: translateY(100%);
}
  
[data-animation="slideInOutDown"].is-visible .modal-dialog {
    transform: none;
}

.microphone{
    height: 48px;
    scale: 3;
    pointer-events: auto;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 0 0px 5px rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: background-color 0.218s, border 0.218s, box-shadow 0.218s;
    transition-delay: 0;
    opacity: 1;
}

/* .main {
    min-height: 80vh;
}

     */